@model Homesite.Controllers.Submissions.SubmitModuleModel

@{
    ViewBag.Title = "Submit module"; 
    ViewBag.SitePart = "submissions";   
}

<div class="container">

    <h1>Submit module</h1>
    
    <div class="row">
            
        <form class="form-horizontal span8" action="/submissions/submitmodule/" 
              method="POST" autocomplete="true" >
                        
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-error">                                               
                    @Html.ValidationSummary()
                </div>
            }

            <fieldset>
                <legend>Module details</legend>
                <div class="control-group">
                    <label class="control-label" for="moduleID">ID</label>
                    <div class="controls">
                        <input class="input-xlarge" name="moduleID" type="text" value="@Model.ModuleID">
                        <div class="help-block">
                            <p>
                                Unique identifier for your module. Posh-Git, PsGet, Find-String are perfect examples.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="url">URL</label>
                    <div class="controls">
                        <input class="input-xlarge" name="url" type="url" value="@Model.URL">
                        <div class="help-block">
                            <p>
                                Source URL of the module. Examples:
                            </p>
                            <ul>
                                <li>Just PSM1 module - <a href="https://raw.github.com/drmohundro/Find-String/master/Find-String.psm1">https://raw.github.com/drmo...er/Find-String.psm1</a></li>
                                <li>Or ZIP with module - <a href="https://github.com/dahlbyk/posh-git/zipball/master/">https://github.com/dahlbyk/posh-git/zipball/master/</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="type">Type</label>
                    <div class="controls">                        
                        @Html.DropDownList("type", Model.ModuleTypes, new { @class = "input-xlarge" })                    
                        <div class="help-block">Module type for more information how to select module type visit wiki</div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="projectUrl">Project URL</label>
                    <div class="controls">
                        <input class="input-xlarge" name="projectUrl" type="url" value="@Model.ProjectUrl">
                        <p class="help-block">URL to the home page of the Module.</p>
                    </div>
                </div> 
                <div class="control-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input class="input-xlarge" name="title" type="text" value="@Model.Title">
                        <p class="help-block">Title of the module. Users will see it in directory.</p>
                    </div>
                </div>                
                <div class="control-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea name="description" class="input-xlarge" rows="3">@Model.Description</textarea>                        
                        <p class="help-block">Short summary of the module. Note that this text will be shown in console.</p>
                    </div>
                </div>
            </fieldset>
            
            <fieldset>
                <legend>Author</legend>
                <div class="control-group">
                    <label class="control-label" for="AuthorName">Name</label>
                    <div class="controls">
                        <input class="input-xlarge" name="AuthorName" type="text" value="@Model.AuthorName">                        
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="AuthorEmail">E-mail</label>
                    <div class="controls">
                        <input class="input-xlarge" name="AuthorEmail" type="email" value="@Model.AuthorEmail">                        
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="AuthorUrl">URL</label>
                    <div class="controls">
                        <input class="input-xlarge" name="AuthorUrl" type="url" value="@Model.AuthorUrl">                        
                    </div>
                </div>
            </fieldset>
        
            <fieldset>
                <legend>Contact details</legend>
                <div class="control-group">
                    <label class="control-label" for="contactName">Contact Name</label>
                    <div class="controls">
                        <input name="contactName" class="input-xlarge" type="text" value="@Model.ContactName" >
                        <p class="help-block">Your name, PsGet needs it only for reference purposes. Author of the module will be retrieved from GitHub account.</p>
                    </div>
                </div>
            
              
                <div class="control-group">
                    <label class="control-label" for="contactEmail">Contact E-mail</label>
                    <div class="controls">
                        <input name="contactEmail" class="input-xlarge" type="email" value="@Model.ContactEmail">                                  
                        <p class="help-block">E-mail address for submission feedback.</p>
                    </div>
                </div>
            </fieldset>
        
            <div class="form-actions">                
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        
        <sidebar class="span4">
            <p><span class="label label-important">Note</span> For now we will store your contact information (including email address) in public way. If you want keep it private, it's probably better to use another submission process.</p>
            <h3>What PsGet will do after submission:</h3>
            <ul>
                <li>Queue submission <a href="/submissions/">for review</a></li>
                <li>After short period of time it will appear in <a href="/directory/">module directory</a></li>
            </ul>
        </sidebar>
        
    </div>

</div>
